@mixin styles($id: 'radio-O6XCY3') {
  .bsi-element-#{$id} {
    &.bsi-radio-inline .form-radio {
      flex-direction: row;
      gap: 1rem;
    }

    .form-radio {
      display: flex;
      flex-direction: column;
    }
    .form-check-input {
      -webkit-appearance: none;
    }

    @media screen and (prefers-color-scheme: dark) {
      .form-check-label {
        color: bsiProperty('darkModeTextColor', #ffffff);
      }
    }
  }
}