@import "~intl-tel-input/build/css/intlTelInput.min.css";

$flagsImagePath: "~intl-tel-input/build/img/";

@mixin styles($id: "form-field-tel-fKUxNS", $flags: $flagsImagePath) {
  .bsi-element-#{$id}.bsi-form-tel-input {
    .iti {
      display: block;
      --iti-path-flags-1x: url("#{$flags}flags.webp");
      --iti-path-flags-2x: url("#{$flags}flags@2x.webp");
      --iti-path-globe-1x: url("#{$flags}globe.webp");
      --iti-path-globe-2x: url("#{$flags}globe@2x.webp");

      .iti__dropdown-content {
        width: fit-content !important;
      }

      .iti__tel-input {
        margin-top: 0.5rem !important;
      }
    }

    .form-floating .form-label {
      margin-left: 40px;
    }

    @media screen and (prefers-color-scheme: dark) {
      .form-label {
        color: bsiProperty("darkModeTextColor", #ffffff);
      }
    }
  }
}