@import "../../../styles/properties";

.form-container-pin-384aa4d6 {
  padding-right: 0;
  padding-left: 0;

  .form-text {
    margin-top: 0 !important;
  }
  input, select, textarea {
    margin-top: 0.5rem !important;
  }
  label {
    margin-bottom: 0;
  }

  .card, input, select, textarea {
    border: 1px solid rgba(56, 62, 66, .3);
  }

  &.bsi-form-slim {
    max-width: 540px;
  }

  &.bsi-form-card-visible .card-body {
    padding-right: 32px;
    padding-left: 32px;
  }

  &.bsi-form-card-hide {
    .card {
      box-shadow: none !important;
      border: none;
    }

    .card-body {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &.bsi-corner-sharp {
    input {
      border-radius: 0;
    }
  }

  $colors: ("primary": $primary, "secondary": $secondary);
  @each $name, $color in $colors {
    input:focus, select:focus, textarea:focus {
      border-color: rgba($color, .25);
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    }

    &.bsi-form-btn-outline .btn-submit {
      color: $color;
      background-color: transparent;
      border-color: $color;

      &:hover {
        color: $light;
        background-color: $color;
        border-color: $color;
      }
    }

    &.bsi-form-btn-filled .btn-submit {
      color: $light;
      background-color: $color;
      border-color: $color;

      &:hover {
        color: $color;
        background-color: transparent;
        border-color: $color;
      }
    }

    input[type=range]::-webkit-slider-thumb {
      background: $color;
    }

    input[type=range]::-moz-range-thumb {
      background: $color;
    } /* Firefox */

    input[type=range]::-ms-thumb {
      background: $color;
    } /* IE */

    input[type=range]:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    }

    input[type=range]:focus::-moz-range-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    } /* Firefox */

    input[type=range]:focus::-ms-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    } /* IE */

    i.bi-info-circle {
      color: $color;
    }
  }

  &.bsi-form-btn-filled .btn-outline-info {
    color: $light;
    background-color: $dark;
    border-color: $dark;

    &:hover {
      color: $dark;
      background-color: transparent;
      border-color: $dark;
    }
  }

  input[type=submit], input[type=reset], .bsi-btn-element {
    margin: 0 0.25rem 0.25rem 0 !important;
  }

  input[type=reset][disabled] {
    display: none;
  }

  .text-danger {
    list-style-type: none;
  }

  .hide { display: none; }

  .bsi-form-pin-element {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 2%;

    input{
      height: 64px;
      padding: 10px;
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      color: rgb(0, 0, 0, 0.60);
      font-style: normal;
      align-items: center;
      align-self: stretch;
    }

    .input-wrapper, .preview-input{
      min-width: 40px;
      max-width: 7%;
    }
  } 
  
  &.pin-label-invisible .bsi-form-pin-element label.form-label {
    display: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .was-validated .form-control:valid,
  .form-control.is-valid {
    padding: 10px 10px;
    background-image: none;
    background-color:#ffff;
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    padding: 10px 10px;
    background-image: none;
    background-color: rgb(217, 19, 41, 0.05);
    border: 1px solid #d91329;
  }
}