{% apply spaceless %}
{% set listElementId = elementId ?: 'listElement-d5c652' %}
{% set counter = 0 %}
<div data-bsi-element="{{ listElementId }}" x-data="listElement" x-init="initializeSortable" class="sortable-list">
	<div data-bsi-element-part="listGroupItems">
		<input type="text" style="display:none;">
		<label hidden="true" aria-hidden="true"></label>
	</div>

	<ul class="list-group sortable-list-ul" data-bsi-dropzone="list-dropzone-content-a03084" x-ref="sortableList"></ul>
</div>
{% endapply %}
